.contenedor_home{
    background: url("https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2018/12/moviles-relacion-calidad-precio.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 90.5vh;
    opacity: 0.5;
}

div .titulo{
    position: fixed;
    top: 30%;
    left: 10%;
    z-index: 1;
}

.titulo h1{
    font-family: 'Arvo', serif;
    font-size: 5vw;
    font-weight: 700;
    color:  white;
}

.linkedin{
    position: fixed;
    left: 10%;
    top: 90%;
    text-decoration: none;
    color: #17ae8e;
    font-size: 1.825em;
    font-weight: 700;
    font-style: italic;

    &:hover{
        text-decoration: none;
    }
}

@media (max-width: 400px){
    
    .linkedin{
        position: fixed;
        left:70%;
        top:90%;
        font-size: 1.2em;
    }
    
}

@media (min-width: 401px) and (max-width: 1023px){
    
    .linkedin{
        left:70%;
        top:90%;
        font-size: 1.625em;
    }
}

@media (min-width: 1024px){
    
    .linkedin{
        left:85%;
        top:90%;
    }
    
}
  